<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel = "icon" href = "/img/weather.png">
        <link rel = "stylesheet" href = "./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This app is created by Charik Goyal. It's data is taken from mapbox and openweather API</p>
        <img class="potrait" src="./img/pp.jpg">
        <p>{{name}}</p>

        </div>
        
        {{>footer}}
    </body>
</html>